if type exa > /dev/null 2>&1; then
  alias l="exa -lgF"
  alias la="exa -lgaF"
else
  if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
  else # OS X `ls`
    colorflag="-G"
  fi
  alias l="ls -lF ${colorflag}"
  alias la="ls -laF ${colorflag}"
fi

alias c="COMPOSER_MEMORY_LIMIT=-1 composer"
alias d="docker"
alias dco="docker-compose"
alias g="hub"
alias mk="minikube"
alias kc="kubectl"
alias v="vim"
alias mg="mutagen"
alias mgr="mutagen project run"
alias mgp="mutagen project"
alias p="pass"
alias pg="pass git"
alias t="terraform"
alias td="TF_LOG=DEBUG TF_LOG_PATH=./terraform.log terraform"
alias y="yadm"

alias -s txt=bat
alias -s log=bat
alias -s lua=nvim
